<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="https://www.flaticon.com/svg/static/icons/svg/2490/2490421.svg" type="image/x-icon">
    <title>Exercicios</title>
</head>
<body>
    <div id="main">
        <div>
            <nav class="navegavel">
                <ul id="menu">
                    <li class="itens">
                        <a href="../index.html">
                            <img width="30" height="30" src="https://cdn.iconscout.com/icon/free/png-512/python-14-569257.png" alt="logo">
                            Python console
                        </a>
                    </li>
                    <li class="itens">
                        <a href="python_tkinter.html">
                            <img width="30" height="30" src="https://avatars3.githubusercontent.com/u/58148634?s=280&v=4" alt="logo">
                            Python tkinter
                        </a>
                    </li>
                    
                    <li class="itens" id="ruby-menu">
                        <img src="https://cdn.iconscout.com/icon/free/png-512/ruby-226055.png" width="30" height="30" alt="">
                        Ruby
                    </li>
                    <li class="itens" id="c-menu">
                        <a href="#">
                            <img width="30" height="30" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png?w=144" alt="c++">
                            C++
                        </a>
                    </li>
                    <li class="itens" id="shell-menu">
                        <img width="30" height="30" src="https://i.ytimg.com/an/ScIwlstkbSA/fb7e93a5-3ab3-4efa-87da-817656ba65ee_mq.jpg?v=58cd8b8a" alt="">
                        Shell Script
                    </li>
                    <li class="itens" id="node-menu">
                        <img src="https://cdn.iconscout.com/icon/free/png-512/node-js-1174925.png" width="30" height="30" alt="">
                        Node
                    </li>
                    <li class="itens"><a href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io"><img src="https://cdn.iconscout.com/icon/free/png-512/github-169-1174970.png" id="logo-git" alt=""></a></li>
                </ul>
            </nav>
        </div>
        <div id="lista-div">
            <ol id="lista" class="lista">
                
                <li class="lista-itens" id="primeiro-item">
                    crie um fomulario que pessa nome e senha de usuario e faça a validação, caso seja aceito deverá mostrar uma mensagem de 
                    boas vindas, caso contrario deverá emitir um alerta de usuario invalido.
                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/python-tkinter/r1.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    crie um editor de código simples usando tkinter, esse deve exibir o numero de linhas, ter uma barra de status onde mostre 
                    o numero de colunas e linhas alem de poder salvar o arquivo editado por ele.
                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/python-tkinter/r1.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    desenvolva o classico jogo snake, a serpente do jogo deve detectar colisões com as paredes e consigo mesma alem 
                    de ir aumentando o tamanho  a medida que se alimenta, tambem deve conter um contador de pontos conquistados e um botao
                    de reinicio caso o jagador perca.
                    <a target="_blank" href="https://github.com/Eliomar-Julian/snakeTkinter/edit/master/snake.pyw"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    Desenrole o gerenciador de senhas, este deve conter um banco de dados para guardar as senhas e um painel
                    administrativo ende se pode ver e excluir senhas armazenadas alem de uma interface com as opçoes de gerar senha.
                    <ul>
                        <li>gerar senha somente com letras minusculas</li>
                        <li>gerar senha somente com letras maiusculas</li>
                        <li>gerar senha somente com numeros</li>
                        <li>gerar senha somente com operadores especiais</li>
                        <li>escolher comprimento da senha</li>
                        <li>misturar varios tipos de caracteres</li>
                    </ul>
                    <a target="_blank" href="https://github.com/Eliomar-Julian/gerador-de-senhas"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    Desenvolva um jogo arcade simples no melhor estilo Space invaders com as regras.
                    <ul>
                        <li>Os inimigos ficam mais rapidos a cada rodada</li>
                        <li>se os inimigos o atingirem é game over</li>
                    </ul>
                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/python-tkinter/r3.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    faça uma replica do bloco de notas do windows. *Criar as funcionalidades é aconselhavel.
                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/python-tkinter/r4.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    crie um media player usando a lib python-vlc
                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/python-tkinter/r5.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    Crie um pequeno navegador da internet utilizando o <a href="https://github.com/cztomczak/cefpython">CefPython</a>

                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/python-tkinter/r6.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    desenvolva um pequeno editor de imagens, este deve ser capaz de recortar, redimensionar e rotacionar uma imagem 
                    e salva-la no hd. Use a biblioteca Pillow para esse feito
                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/python-tkinter/r4.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    ######
                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/python-tkinter/r4.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

            </ol>
        </div>
    </div>
</body>
</html>