<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="https://www.flaticon.com/svg/static/icons/svg/2490/2490421.svg" type="image/x-icon">
    <title>Exercicios</title>
</head>
<body>
    <div id="main">
        <div>
            <nav class="navegavel">
                <ul id="menu">
                    <li class="itens">
                        <a href="../index.html">
                            <img width="30" height="30" src="https://cdn.iconscout.com/icon/free/png-512/python-14-569257.png" alt="logo">
                            Python console
                        </a>
                    </li>
                    <li class="itens">
                        <a href="python_tkinter.html">
                            <img width="30" height="30" src="https://avatars3.githubusercontent.com/u/58148634?s=280&v=4" alt="logo">
                            Python tkinter
                        </a>
                    </li>
                    
                    <li class="itens" id="ruby-menu">
                        <img src="https://cdn.iconscout.com/icon/free/png-512/ruby-226055.png" width="30" height="30" alt="">
                        Ruby
                    </li>
                    <li class="itens" id="c-menu">
                        <a href="#">
                            <img width="30" height="30" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png?w=144" alt="c++">
                            C++
                        </a>
                    </li>
                    <li class="itens" id="shell-menu">
                        <img width="30" height="30" src="https://i.ytimg.com/an/ScIwlstkbSA/fb7e93a5-3ab3-4efa-87da-817656ba65ee_mq.jpg?v=58cd8b8a" alt="">
                        Shell Script
                    </li>
                    <li class="itens" id="node-menu">
                        <img src="https://cdn.iconscout.com/icon/free/png-512/node-js-1174925.png" width="30" height="30" alt="">
                        Node
                    </li>
                    <li class="itens"><a href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io"><img src="https://cdn.iconscout.com/icon/free/png-512/github-169-1174970.png" id="logo-git" alt=""></a></li>
                </ul>
            </nav>
        </div>
        <div id="lista-div">
            <ol id="lista" class="lista">
                
                <li class="lista-itens" id="primeiro-item">
                    crie um fomulario que pessa nome e senha de usuario e faça a validação, caso seja aceito deverá mostrar uma mensagem de 
                    boas vindas, caso contrario deverá emitir um alerta de usuario invalido.
                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/Resolucao-python/r2.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    ########
                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/Resolucao-python/r2.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    ########
                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/Resolucao-python/r2.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

                <li class="lista-itens" id="primeiro-item">
                    ########
                    <a target="_blank" href="https://github.com/Eliomar-Julian/Eliomar-Julian.github.io/edit/main/Resolucao-python/r2.py"> 
                        <img class="ver" src="https://image.flaticon.com/icons/png/512/1894/1894120.png" alt="olho">
                    </a>
                </li>

            </ol>
        </div>
    </div>
</body>
</html>